*.DS_Store
*.ipynb_checkpoints*
*V2/003_Deploy/model_to_api/container/model_files/*
*V2/Datos
*V2/001_Exploration/artificial_empty_affs.parquet
*V2/001_Exploration/ror_strings.parquet
*V2/001_Exploration/__pycache__/
*V2/test.ipynb
*V2/test.py
*V2/virtual310-env
*V2/virtual3.9-env
